* {
    padding: 0;
    margin: 0;
}

/* ------------------------ Overall ------------------------------ */
body {
    background-color: var(--color-grijs-tint);
    font-family: lato, sans-serif;
    /* cursor: none; */
}

/* Font: Georgoa, got this font from https://www.cdnfonts.com/georgia.font */
@import url('http://fonts.cdnfonts.com/css/georgia');
/* Font: Bree, got this font from Adobe, https://fonts.adobe.com/my_fonts#web_projects-section */
@import url("https://use.typekit.net/kjs0loc.css");

:root {
  /* fonts */
  --font-heading1: "Bree", Arial, serif;
  --font-heading2: "Bree", Arial, serif;
  --font-body: "Georgia", Arial, sans-serif;
  --font-menu-item: Arial, sans-serif;

  /* colors */
  --color-donker: #000000;
  --color-blauw-donker: #031625;
  --color-grijs-donker: #525252;
  --color-grijs-licht: #7b7b7b;
  --color-grijs-tint: #e5e4e4;
  --color-wit: #ffffff;
  --color-groen: #bbd981;
  --color-groen-fel: #22C181;
  --color-rood: #df5b57;
}

.noscroll {
    overflow-y: hidden; 
}

h1 {
    font-size: 36px;
    line-height: 53px;
    /* margin-top: 3em; */
    color: var(--color-donker);
    font-family: var(--font-heading1);
}

h2 {
    font-size: 32px;
    line-height: 47px;
    font-weight: 400;
    margin-top: 36px;
    color: var(--color-donker);
    font-family: var(--font-heading2);
}

h3 {
    font-size: 24px;
    line-height: 47px;
    font-weight: 400;
    margin-top: 36px;
    color: var(--color-donker);
    font-family: var(--font-heading2);
}

a {
    text-decoration: none;
}

p {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 32px;
}

a:hover {
    text-decoration: underline;
}

.page {
  max-width: 30em;
  margin: auto;
  overflow: hidden;
}

.alignmentLeft {
  width: 70%;
  float: left;
  /* background-color: var(--color-groen); */
  height: 100vh;
}

.alignmentRight {
  width: 30%;
  float: right;
  background-color: var(--color-wit);
  height: 100vh;
  overflow:auto;
}

/* ------------------------ navigatie  */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center; 
  justify-content: space-between;
  height: 64px;
  background-color: var(--color-donker);
}

nav a {
  color: var(--color-wit);
  margin: auto 3em auto 0;
  font-family: var(--font-menu-item);
  font-size: 15px;
  font-weight: 700;
}

nav p {
  margin: auto 0;
}

nav a:hover {
  color: var(--color-rood);
  text-decoration: none;
  transition: 0.3s;
}

nav img {
  height: 34px;
  margin: auto 0 auto 3em;
  color: green;
}

/* ------------------------ index.html ------------------------------ */

.dismiss {
    display: block;
    flex-direction: row;
    color: var(--color-wit);
    background-color: var(--color-grijs-donker);
    height: 54px;
    align-items: center;
    justify-content: center;
}

.dismiss a {
    color: var(--color-wit);
	display: initial;
}

.dismiss a:active {
  color: var(--color-wit);
}

.hideBlock {
  display: none;
  color: red;
}

.spline_homescreen {
    width: 100vw;
    height: 100vh;
}

#startDiv {
  display: flex;
  justify-content: center;
}

#startKnop {
  position: absolute;
  bottom: 8em;
  color: var(--color-donker);
  padding: 12px 36px;
  border: 2px solid var(--color-donker);
  border-radius: 28px;
  background-color: none;
  transition-duration: 150ms;
  transition-timing-function: ease;
  font-weight: 700;
}

#startKnop:hover {
  text-decoration: none;
  color: var(--color-wit);
  background-color: var(--color-donker);
  padding: 14px 44px;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.spline-watermark {
  display: none !important;
  visibility: hidden !important;
}

/* ------------------------ scenes ------------------------------ */

.textAlginment {
  margin: 4em;
  padding-top: 0.5em;
}

.textScene li {
  margin: 3em 0;
  list-style-type: none;
}

.sceneHomeColor {
  background-color: #60E1C7;
}

.scene1Color {
  background-color: #F6635C;
}

.scene2Color {
  background-color: #373A59;
}

.scene3Color {
  background-color: #60E1C7;
}

.scene4Color {
  background-color: #60E1C7;
}

.noXscroll {
  overflow-x: hidden; 
}

.actionKey {
  color: var(--color-rood);
}

/* ------------------------ terug & lees verder  */

.navigateButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 4em;
}

.navigateButtons a {
  color: var(--color-donker);
  padding: 12px 36px;
  border: 2px solid var(--color-donker);
  border-radius: 28px;
  background-color: none;
  transition-duration: 150ms;
  transition-timing-function: ease;
  font-weight: 700;
}

.navigateButtons a:hover {
  text-decoration: none;
  color: var(--color-wit);
  background-color: var(--color-donker);
  transition-duration: 150ms;
  transition-timing-function: ease;
}

/* ------------------------ over.html ------------------------------ */

.paragraph {
    background-color: var(--color-wit);
    width: 40%;
    margin: 0 auto 0 auto;
    padding: 64px;
}

.paragraph a {
  color: var(--color-donker);
}

.paragraph a:hover{
  color: var(--color-rood);
  text-decoration: none;
}

.paragraph span p {
  font-size: 14px !important;
}


.paragraph details {
    margin: 16px;
}

/* .details_disabled {
    color: var(--color-grijs-licht);
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
} */

li {
  font-family: var(--font-body);
  color: var(--color-donker);
  font-size: 18px;
  line-height: 32px;
}

.boeklink {
  color: var(--color-rood);
}

summary {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 16px;
}

summary:hover {
  color: var(--color-rood);
  cursor: pointer;
}

/* .cursor {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-donker);
  border-radius: 50%;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease;
  pointer-events: none;
} */
/* custom cursor tutorial: https://www.youtube.com/watch?v=rfpRZ2t_BrQ&t=818s */

/* For scrolling page
css: transform: translate(-50%, -50%);position: fixed;
js: cursor.setAttribute("style","top: "+(e.pageY - scrollY)+"px; left: "+(e.pageX)+"px") */